@import '@/styles/variables';

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 525px;
  height: 300px;
  font-size: 18px;
  border: 1px solid $color-primary-dark;
}

.messageBox {
  padding: 10px 10px 0;
  overflow: auto;
}

.input {
  width: 100%;
}

.controls {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
