.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  height: 100%;
  margin: 0 auto;
}
.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.connectWrapper,
.createRoomWrapper {
  width: 100%;
  height: 70px;
  padding: 10px;
}
.connectWrapper {
  display: flex;
  width: 100%;
  input {
    height: 36px;
  }
  form {
    display: flex;
    button {
      height: 37px;
    }
  }
}
.logo {
  width: 70%;
  height: 100px;
  margin: 100px auto 100px auto;
}
