.scoreCard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
  height: 100%;
  padding: 10px;
  color: black;
  font-weight: 700;
  font-size: 26px;
  border: 1px solid black;
}

.score {
  padding: 0;
}

.scoreCard:active,
.scoreCard:focus {
  background-color: $color-primary-light;
}
