.scoreCard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 70px;
  margin: 15px;
  padding: 10px;
  color: black;
  font-weight: 700;
  font-size: 26px;
  border: 1px solid black;
}
.scoreCard:active,
.scoreCard:focus {
  background-color: $color-primary-light;
}
