.deck {
  display: flex;
}
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  margin-bottom: 50px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.cards {
  display: flex;
  padding: 2rem;
}
