@import 'styles/variables';
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  color: $white;
  background-color: $color-primary-dark;
}
.footer a {
  color: $white;
  text-decoration: none;
}
.footer span {
  color: $white;
  text-decoration: none;
}
.divider {
  width: 200px;
  height: 2px;
  margin: 5px;
  background-color: $white;
}
.youtube {
  width: 50px;
}
.github {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.github svg {
  width: 40px;
  margin: 10px;
}
.github span {
  margin: 0 10px;
}
.logoRss {
  margin: 0 auto;
}
.logoRss svg {
  width: 100px;
  margin: 0 auto;
}
.wrapper {
  text-align: center;
}
.year {
  font-size: 26px;
}
.gitWrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;
  font-size: 16px;
}
