.game {
  display: grid;
  grid-template-areas:
    'dealer timer timer userScores'
    'issues . . userScores'
    'deck deck deck chat';
  grid-template-rows: 0.2fr 0.2fr 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  gap: 0 0;
}

.dealer {
  grid-area: dealer;
}

.issues {
  grid-area: issues;
}

.timer {
  grid-area: timer;
}

.deck {
  grid-area: deck;
}

.userScore {
  display: flex;
  align-items: center;
}

.userScores {
  display: flex;
  flex-direction: column;
  grid-area: userScores;
}

.chat {
  grid-area: chat;
}
