.issueCard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 70px;
  margin: 15px;
  padding: 10px;
  color: black;
  font-weight: 700;
  font-size: 26px;
  font-style: roboto;
  border: solid 1px black;
}
.issueCard:active,
.issueCard:focus {
  background-color: $color-primary-light;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapperNew {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
.title {
  min-width: 124px;
  height: 27px;
  margin: 0 -50px 0 10px;
  font-size: 22px;
}
.titleNew {
  font-size: 18px;
}
.subtitle {
  margin: 0 0 0 10px;
  font-size: 10px;
}
.remove,
.edit {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
svg:hover {
  cursor: pointer;
  fill: red;
}
